  

  h1{
    color: #bd7100;
    font-size:43px;
    font-family: castellar;
    border: solid 8px green;
    margin: 5,50,10,100;
    }
    body{
        background-color: rgba(109, 178, 235, 0.829);
        font-family: fonte;
        border-width: 100000px;
        border: outset 45px red; 
    }